hr {
    border: solid 0.4x;
    border-color: rgba(187, 179, 179, 0.533);
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin: 20px 15px 0px 0px;
}

.container {
    width: 70%;
    margin: 40px auto auto auto;
}

mat-card-title {
    text-align: center;
}