table {
    width: 100%;
}

#edit > i {
    color: #D9CD26;
}

#delete > i {
    color: #E35E6B;

}


#details > i {
    color: #3F51B5;
}


#edit {
    margin-right: 10px;
}

.semRegistro {
    width: 100%;
    height: 3.125rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons {
    height: 1.8125rem;
    margin-right: 0.625rem;
}

.semRegistro > h1 {
    font-weight: 300;;
}
